# git+git://github.com/giussepi/gutils.git
# https://github.com/giussepi/gutils/tarball/master
# git@https://github.com/giussepi/gutils/tarball/master
gutils @ https://github.com/giussepi/gutils/tarball/master#egg=gutils

# emacs as python editor
autopep8>=1.5.4
ipython>=7.16.1
jedi>=0.17.2
pyflakes>=2.2.0
Pygments>=2.7.2
pylint>=2.6.0
